package com.tdt4145.group131.view;

import java.util.Scanner;

/**
 * Created by sindr on 3/16/2017.
 * SHOULD NOT BE USED; BUT COPY FROM THIS
 */
public class ExampleHandler {
    Scanner scan;
    ViewHandler vh;

    public ExampleHandler(Scanner scan, ViewHandler vh) {
        this.scan = scan;
        this.vh = vh;
    }

    public void runHandler () {
        while (true) {
            int menu = this.getMenuSelect();

            switch (menu) {
                case 0:
                    return;
                case 1:
                    break;
                case 2:
                    break;
            }
        }
    }

    public int getMenuSelect () {
        return vh.getIntFromQuestion(
                "This is the exercise menu." +
                        "\nMenu / Exercise menu:" +
                        "\n[0] Go back" +
                        "\n[1] Menu item 1" +
                        "\n[2] Menu item 1" +
                        "\n\nType number: ",
                "^[0-2]$",
                "Please provide a number between 0 and 2: "
        );
    }
}
